.home_body1{
  min-height: 100%;
  min-width: 100%;
}

.home_bckgnd{
  /* background-color: #5000ca; */
  background-color: #ffffff;
  margin: 0px;
}
.registerNowBtn{
 border: 2px solid white;
 color: white;
 border-radius: 30px;
display: inline-block !important;
  padding: 7px 23px;
}
.registerNowBtn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.img_box{
  z-index: 1; 
  margin-top: 85px;
}
.textbox{
  margin-top: 55px !important;
  z-index: 1;
}
.head_home{
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 650;
  font-size: 80px;
  z-index: 1;
}
.caption{
  color: rgb(0, 0, 0);
  margin: 0px 23rem 30px 0px;
  line-height: 1.5rem;
  font-weight: 500;
  z-index: 1;
}
.head_home{
  margin-bottom: 10px;
  /* font-size: 50px; */
}
.stylee{
  background-color: rgba(228,212,237,255);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: circle(600px at right );
}
.grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center
 

}
.section-2{
display: flex;
justify-content: center;
justify-content: space-around;
}
.panel-color{
  background-color: rgb(48, 161, 236);
}
.caption1{
  font-size: 4rem;
  font-weight: 800;
}
.caption-2{
  font-size: 15px;
}
.login-name{
  font-size: 1.6rem;
  font-weight: 600;
  
}
.login-name span , .caption1 span{
  background: linear-gradient(360deg, rgb(202, 223, 255) 8px, transparent 20px) 0 1.1em
}

    
       


/* ------------------------------- media Query ------------------------------ */
@media only screen and (max-width:415px){
  .home_body1{
    display: flex;
    flex-direction: column;
  }
  .style{
    background-color: rgba(228,212,237,255);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: circle(200px at right );
  }
  .head_home{
    font-size: 62px;
    font-family: 'Montserrat',sans-serif ;

  }
  .caption{
    margin: 12px 0rem 12px 0px;
    
   
  }
  .btnn{
    width: 180px !important;
  }
}

@media only screen and (min-width:415px) and (max-width:512px){
  
}
@media only screen and (max-width:450px){
  
}
@media only screen and (max-width:890px){
 .section-2{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
}

@media only screen and (max-width:563px){
  
}
@media only screen and (max-width:800px){
  .hm_img{
    /* display: none !important; */
  }
}
@media only screen and (max-width:992px){

}
@media only screen and (max-width:992px){
 
}
@media only screen and (max-width:1018px){
  .grid{
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width:669px){
  .login-code{
    
  }
}